<table class="table table-striped">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Id</th>
      <th scope="col">First</th>
      <th scope="col">Last</th>
      <th scope="col">email</th>
      <th scope="col">mob</th>
      <th scope="col" >Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor = "let key of employees;index as i">
      <th scope="row" >{{i+1}}</th>
      <td>{{ key['firstname'] }}</td>
      <td>{{ key['lastname'] }}</td>
      <td>{{ key['email'] }}</td>
      <td>{{ key['mob'] }}</td>

      <td>
          <button class="btn btn-danger" (click)="deleteEmployee(key['user_id'],i)">delete</button>
        </td>
    </tr>
  </tbody>
</table>
